<p id="notice"><%= notice %></p>

<p>
  <strong>Youtube:</strong>
  <%= @youtube_video.youtube_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @youtube_video.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @youtube_video.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @youtube_video.duration %>
</p>

<p>
  <strong>Category:</strong>
  <%= @youtube_video.category %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @youtube_video.channel %>
</p>

<%= link_to 'Edit', edit_youtube_video_path(@youtube_video) %> |
<%= link_to 'Back', youtube_videos_path %>
